@font-face {
	font-family: "Flaticon";
	src: url("0-tools/flaticon.eot");
	src: url("0-tools/flaticon.eot#iefix") format("embedded-opentype"),
	url("0-tools/flaticon.woff") format("woff"),
	url("0-tools/flaticon.ttf") format("truetype"),
	url("0-tools/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}
.flaticon-github-logo:before { content: "\f100"; }
.flaticon-computer-configuration:before { content: "\f101"; }
.flaticon-server-1:before { content: "\f102"; }
.flaticon-server:before { content: "\f103"; }
.flaticon-launch:before { content: "\f104"; }
.flaticon-cpu-1:before { content: "\f105"; }
.flaticon-robot-1:before { content: "\f106"; }
.flaticon-rocket-launch-1:before { content: "\f107"; }
.flaticon-development:before { content: "\f108"; }
.flaticon-cpu:before { content: "\f109"; }
.flaticon-rocket-launch:before { content: "\f10a"; }
.flaticon-symbols-2:before { content: "\f10b"; }
.flaticon-photo:before { content: "\f10c"; }
.flaticon-symbols-1:before { content: "\f10d"; }
.flaticon-smiley:before { content: "\f10e"; }
.flaticon-symbols:before { content: "\f10f"; }
.flaticon-social:before { content: "\f110"; }
.flaticon-evernote-logo:before { content: "\f111"; }
.flaticon-roboto-logo:before { content: "\f112"; }
.flaticon-smile:before { content: "\f113"; }
.flaticon-baidu-paw-logo:before { content: "\f114"; }
.flaticon-rss-symbol:before { content: "\f115"; }
.flaticon-wordpress-logo:before { content: "\f116"; }
.flaticon-twitter-logo:before { content: "\f117"; }
.flaticon-skype-logo:before { content: "\f118"; }
.flaticon-linkedin-logo:before { content: "\f119"; }
.flaticon-youtube-logo:before { content: "\f11a"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f11b"; }
.flaticon-whatsapp-logo:before { content: "\f11c"; }
.flaticon-facebook-logo:before { content: "\f11d"; }
.flaticon-info:before { content: "\f11e"; }
.flaticon-mail:before { content: "\f11f"; }
.flaticon-video-player-outline:before { content: "\f120"; }
.flaticon-flask-outline:before { content: "\f121"; }
.flaticon-clipboard-outline:before { content: "\f122"; }
.flaticon-folded-map:before { content: "\f123"; }
.flaticon-bell-ringing:before { content: "\f124"; }
.flaticon-slating-flag:before { content: "\f125"; }
.flaticon-power-button-outline:before { content: "\f126"; }
.flaticon-user-avatar-main-picture:before { content: "\f127"; }
.flaticon-google-plus-logo-button:before { content: "\f128"; }
.flaticon-light-bulb-icon:before { content: "\f129"; }
.flaticon-quaver-outline:before { content: "\f12a"; }
.flaticon-hearts-outline-icon:before { content: "\f12b"; }
.flaticon-coffe-cup-outline:before { content: "\f12c"; }
.flaticon-checkbox-pen-outline:before { content: "\f12d"; }
.flaticon-sharing-interface:before { content: "\f12e"; }
.flaticon-pyre-silhouette:before { content: "\f12f"; }
.flaticon-old-fashion-briefcase:before { content: "\f130"; }
.flaticon-lighting-button:before { content: "\f131"; }
.flaticon-speech-bubbles-outline:before { content: "\f132"; }
.flaticon-instagram-logo:before { content: "\f133"; }
.flaticon-rocket-icon:before { content: "\f134"; }
.flaticon-empty-shopping-cart:before { content: "\f135"; }
.flaticon-present-outline:before { content: "\f136"; }
.flaticon-eye-button:before { content: "\f137"; }
.flaticon-laptop-icon:before { content: "\f138"; }
.flaticon-power-cord:before { content: "\f139"; }
.flaticon-nut-icon:before { content: "\f13a"; }
.flaticon-heart-rate-monitor:before { content: "\f13b"; }
.flaticon-photo-camera-outline:before { content: "\f13c"; }
.flaticon-umbrella-and-raindrops:before { content: "\f13d"; }
.flaticon-telephone-outline:before { content: "\f13e"; }
.flaticon-linkedin-logo-button:before { content: "\f13f"; }
.flaticon-facebook-logo-button:before { content: "\f140"; }
.flaticon-globe-outline:before { content: "\f141"; }
.flaticon-speech-bubble-outline:before { content: "\f142"; }
.flaticon-house-outline:before { content: "\f143"; }
.flaticon-push-pin:before { content: "\f144"; }
.flaticon-robot:before { content: "\f145"; }
.flaticon-bell:before { content: "\f146"; }
.flaticon-book:before { content: "\f147"; }
.flaticon-open-book:before { content: "\f148"; }
.flaticon-books:before { content: "\f149"; }
.flaticon-diploma:before { content: "\f14a"; }
.flaticon-earth-globe:before { content: "\f14b"; }
.flaticon-mortarboard:before { content: "\f14c"; }
.flaticon-star-button:before { content: "\f14d"; }
.flaticon-exam:before { content: "\f14e"; }
.flaticon-professor:before { content: "\f14f"; }
.flaticon-school-material:before { content: "\f150"; }
.flaticon-student:before { content: "\f151"; }
.flaticon-university:before { content: "\f152"; }
.flaticon-baby-stroller:before { content: "\f153"; }
.flaticon-mother:before { content: "\f154"; }
.flaticon-parents:before { content: "\f155"; }
.flaticon-library:before { content: "\f156"; }
.flaticon-timer-silhouette:before { content: "\f157"; }
.flaticon-chronometer-outline:before { content: "\f158"; }
.flaticon-downloading-action:before { content: "\f159"; }
.flaticon-twitter-logo-button:before { content: "\f15a"; }
.flaticon-witch:before { content: "\f15b"; }
.flaticon-network:before { content: "\f15c"; }
.flaticon-tool:before { content: "\f15d"; }
.flaticon-settings:before { content: "\f15e"; }
.flaticon-close:before { content: "\f15f"; }
.flaticon-calendar:before { content: "\f160"; }
.flaticon-map-location:before { content: "\f161"; }
.flaticon-message:before { content: "\f162"; }
.flaticon-gamepad:before { content: "\f163"; }
.flaticon-heart:before { content: "\f164"; }
.flaticon-unlock:before { content: "\f165"; }
.flaticon-padlock:before { content: "\f166"; }
.flaticon-edit:before { content: "\f167"; }
.flaticon-layers-icon:before { content: "\f168"; }