<section>
   <h2 id="about-me">About Myself</h2>
   <hr class="bar"/>
   <div class="about-lock" align="center">
      <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
         <div class="flipper">
            <div class="front">
               <div class="face-img"></div>
            </div>
            <div class="back">
               <div class="face1-img"></div>
            </div>
         </div>
      </div>
      <div class="glyph-icon flaticon-computer-configuration"></div>
      <div class="glyph-icon flaticon-development"></div>
      <div class="glyph-icon flaticon-robot-1"></div>
      <div class="glyph-icon flaticon-cpu-1"></div>
   </div>
   <div class="blurb">
      <p>I am a passionate coder and a mechanical engineer hailing from IIT Kharagpur. I have experience in working industries ranging from Aerospace to PLM firms</p>
   </div>
   <div class="skill-lock"></div>
</section>