<section class="section-contact">
   <h2 id="Details">Contact Details</h2>
   <hr class="bar"/>
   <div class="social-links">
      <a href="https://www.facebook.com/pksiitkgp">
         <div class="glyph-icon flaticon-facebook-logo-button"></div>
      </a>
      <a href="https://www.linkedin.com/in/prashant-kumar-sharma-108b6769/">
         <div class="glyph-icon flaticon-linkedin-logo-button"></div>
      </a>
      <a href="https://github.com/codepks">
         <div class="glyph-icon flaticon-github-logo"></div>
      </a>
      <a href="https://www.youtube.com/channel/UC81N4XRtRUloYibSYgz8MWg?view_as=subscriber">
         <div class="glyph-icon flaticon-twitter-logo-button"></div>
      </a>
   </div>
   <hr class="bar"/>
   <a href="pks1993kgp@gmail.com" class="biglink">Email me</a>
</section>