<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Career</h2>
		<hr class="bar"/>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/leg.svg" alt="Presentation"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">Research & Development - Dassault Systems</h2>
				<p>Working on developent of software Delmia (PLM Software) with Resource Programming in Robotics and Machining</p>
				<span class="cd-date">Developer<br>May. 2019 - Present</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/presentation-board-with-graph.svg" alt="Presentation"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">Spacescraft Operations Engineer in Team Indus-Axiom Research Labs PVT. LTD.</h2>
				<p>One of the top 5 shortlisted Indian team for the Google Lunar Xprize Challenge. I was in operations team
				working directly under Srinivas Hegde, Mission Director of Chandrayan-I. In 2 years of work experience I learnt
				complexity of building a spacecraft and how subsystems from varying background like mechanical, electronics, thermal, communication, computer science etc come together to build up a spacecraft.</p>
				<span class="cd-date">Interactive presentation<br>May. 2018</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/img/launch.svg" alt="Work"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>TeamIndus - Axiom Research Labs Pvt. Ltd</h2>
				<p>One of the top 5 shortlisted Indian team for the Google Lunar Xprize Challenge. I was one of the core developer for interface drivers for the spacecraft (On-board Computer) and other interfacing cards. I have experience in developing and testing modules integrated in the spacecraft and sensors used in the flight systems. I have worked in building up quick prototypes to show the proof of concept models. Also as a team member, I have been helping in developing scripts to automate repetitive tasks and for testing purposes. Hands-on experience in debugging embedded systems.
				Bare-metal programming for Space grade processors, Firmware development for development platforms like Rpi, imx, Zynq boards, Driver code development in C for UART, Kernel development, Sensor Integration test software, OpenCV, ROS</p>
				<span class="cd-date">Spacecraft Operations Engineer<br>May. 2018</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/journal.svg" alt="Picture"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Undergraduate from Indian Institute of Technology Kharagpur - 2016</h2>
				<p>I hold a B.Tech degree in Mechanical Engineering from IIT Kharagour with specialisation in Manufacturing science and Engg.</p>
				<span class="cd-date">B.Tech<br>June. 2016</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
	</section>
	<div class="cd-timeline-header">
		<h2></h2>
	</div>
</div>

<!-- Template for adding new carrer sections.
	<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/college.svg" alt="Picture"/>
			</div>

			<div class="cd-timeline-content">
				<h2 class="story-heading">NUI Computer Science</h2>
				<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.</P>
				<span class="cd-date">2010-2014</span>
			</div>
			
		</div>
 -->